body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.tight {
  width: 55%;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

canvas {
  width: 50vw;
  height: 63vh;
  display: block;
  border-style: groove;
  border-color: rgb(117, 117, 117);
  border-width: 2px;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}



.popup {
  margin: 10px 10px;
  padding: 10px 20px;
  background-color: yellowgreen;
  color: black;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    overflow-y : scroll;
  width: 500px;
  height: 200px;
    padding: 20px;
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}



/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

button{
  margin: 5px;
  padding: 10px 20px;
  background-color: rgb(109, 182, 148);
  color: black;
  cursor: pointer;
  border: none;
}